:root {
  --colorFondo: #1E201E;
  --colorFondoSecundario: #BB9981;
  --colorLetra: #FCFAEE;
  --colorLetraSecundario: #EC132F;
  --colorLetraTerciario:#1E201E;
  --LetraTitulo: "Rubik Mono One", monospace;
  --LetraSubtitulo: "Ubuntu Sans Mono", monospace;
}
/* Barra de navegacion */
.navbar{
  padding: 1rem;
}
.navbar-collapse{
  align-items: center;
  justify-content: space-between;
}
.nav-link{
  font-family: var(--LetraTitulo);
  font-size: 0.7rem;
}
/* Principal */
.principal {
  min-height: 450px;
  text-align: center;
 }

.principal-main h2{
  font-size: 1.5rem;
  font-family: var(--LetraSubtitulo);
  color: var(--colorLetra);

}
.principal-imagen{
  width: 50%;
  border-radius: 40%;
  margin: 20px; 
  animation: AnimacionFoto 3s  infinite;
  cursor: pointer;
}
/* Proyectos */
.proyectos h2{
  font-size: 2rem;
  font-family: var(--LetraSubtitulo);
  color: var(--colorLetraSecundario);
  font-weight: bolder;
}
.proyectos p{
  font-size: 1.5rem;
  font-family: var(--LetraSubtitulo);
  color: var(--colorLetra);
}
.card-title{
  font-size: 1rem;
  font-family: var(--LetraTitulo);
  color: var(--colorLetraSecundario);
}
.card-text{
  font-size: 0.7rem !important;
  font-family: var(--LetraSubtitulo) !important;
  color: var(--colorLetraTerciario) !important;
}
.card{
  border: var(--colorFondo) 0.1rem solid;
  box-shadow: 0px 0px 0.5rem 0px var(--colorFondo);
}
/* Generales */

h1{
  font-size: 2.5rem;
  font-family: var(--LetraTitulo);
  color: var(--colorLetraSecundario);
}

body{
  background: radial-gradient(125% 125% at 50% 10%, var(--colorFondo) 40%, var(--colorFondoSecundario) 100%);
  background-attachment: fixed;
  background-size: cover;
}
i{
  font-size: 2rem;
  color: var(--colorLetra);  
}

/* Hover */

i:hover{
  color: var(--colorLetraSecundario);
}
.card:hover{
  border: var(--colorLetraSecundario) 1px solid;
  box-shadow: 0px 0px 20px 0px var(--colorLetraSecundario);
  cursor: pointer;
}



@media screen and (max-width: 992px){
  .principal{
    flex-direction: column;
  }
  #navbar-toggler .navbar-brand img{
    display: none;
  }
}
@keyframes AnimacionFoto {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(2px, -2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	60% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}